/* Global styles */

html,
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.red-box {
    background-color: #FF3535;
    padding: 50px;
}

.green-box {
    background-color: #B2F232;
    padding: 32px;
}

.blue-box {
    background-color: #25B3B3;
    padding: 30px;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.row.extra-bottom-padding {
    margin-bottom: 25px
}
